@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot");
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix") format("embedded-opentype"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2") format("woff2"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff") format("woff"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot");
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix") format("embedded-opentype"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2") format("woff2"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff") format("woff"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot");
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix") format("embedded-opentype"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2") format("woff2"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff") format("woff"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot");
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix") format("embedded-opentype"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2") format("woff2"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff") format("woff"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot");
    src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix") format("embedded-opentype"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2") format("woff2"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff") format("woff"),
        url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf") format("truetype");
    font-display: swap;
}

@layer base {
    html {
        font-family: "Orbitron", "NanumSquareNeo";
    }
}


.container {
    @apply flex max-w-7xl mx-auto
}

.btn_icon {
    @apply mx-2 w-10 h-10 flex items-center justify-center rounded-full;
}

.sign {
    @apply flex flex-col border mt-20 max-w-md border-2 m-auto;
}

.sign__info {
    @apply max-w-sm m-auto
}

.sign__title {
    @apply flex justify-center items-center flex-col
}

.blind {
    @apply hidden
}

.input_box {
    @apply w-full border-2 h-12 pl-2 outline-none rounded-md
}

.msg {
    @apply text-red-600 flex items-center
}

.input_outline {
    @apply focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500
}